Frac_Cal/.vs/
Frac_Cal/0703_1/Debug/
Frac_Cal/Debug/
GCD/.vs/i
GCD/Debug/
GCD/GCD/Debug/
linked_list/.vs/
linked_list/Debug/
linked_list/linked_list/Debug/
MatrixMultiply2/.vs/
MatrixMultiply2/Debug/
MatrixMultiply2/MatrixMultiply2/Debug/
PocketMon/.vs/
PocketMon/Debug/
PocketMon/PocketMon/Debug/
Pocketmon_sample/.vs
Pocketmon_sample/Debug/
Pocketmon_sample/Pocketmon_sample/Debug/
Shape2/.vs/
Shape2/Debug/
Shape2/Shape2/Debug/
TicTacToe/.vs/
TicTacToe/Debug/
TicTacToe/TicTacToe/Debug/
